@model Trabalho_MVC_Projeto.Models.ProdutoModel


@{
    ViewBag.Title = "Create";
}

<br />
<div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
    Cadastro de Produto
</div>

<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Cadastro de Produto</h4>
                            <p class="card-category">Complete o cadastro!!</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.Nome,
                                   htmlAttributes: new { @class = "bmd-label-floating" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Nome,
                                       new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.Valor,
                                   htmlAttributes: new { @class = "bmd-label-floating" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Valor,
                                       new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.Tipo_de_Produto,
                                   htmlAttributes: new { @class = "bmd-label-floating" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Tipo_de_Produto,
                                       new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Tipo_de_Produto, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.Peso,
                                   htmlAttributes: new { @class = "bmd-label-floating" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Peso,
                                       new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Peso, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <label></label>
                            <div class="form-group">
                                @Html.LabelFor(model => model.FornecedorID, "Fornecedor", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("FornecedorID", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.FornecedorID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <br />

                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="far fa-save">
                                            </i>
                                        </span>
                                        <span class="text">Salvar</span>
                                    </button>
                                    <a class="btn btn-light" href="~/Produto/Index">Voltar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

